* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-container {
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-item {
    margin-left: 1rem;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #555;
    border-radius: 5px;
}

